body, h1, h2, h3,span,h5, button,p, div{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.633%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333%;
}
.col-8{
    width: 64.666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.333%;
}
.col-11{
    width: 91.666%;
}
.col-12{
    width: 100%;
}
.section__title{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}
.section__title--big{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section__title--little{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section__button{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 14px 30px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}
